ion-content {
  --ion-background-color:#219653 ;
}
ion-item{
   background-color:white !important;
}
ion-label{

       background-color: white;
       --border-radius: 100px;
}
ion-ion-ite{
   color: white;
}