ion-list-header {
 color:#219653 ;
}

ion-title {
   color:#219653 ;
  }
ion-item{
   background-color:white !important;
}
ion-label{

       background-color: white;
       --border-radius: 100px;
}
ion-ion-ite{
   color: white;
}

#logo{
   margin: auto;
   align-items: center;
}