<ion-header [translucent]="true">
  <ion-toolbar>
   <center> <img src="./assets/Group 1.png"></center>
   <ion-title>
      
    </ion-title>
   
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
  </ion-toolbar>
</ion-header>

  <div #expandWrapper class='expand-wrapper' [class.collapsed]="!expanded">
  <ng-content></ng-content>
</div>


<ion-content [fullscreen]="true">
  
  <div class="image"></div>
  <ion-header translucent>
  </ion-header>

  <ion-content fullscreen>
    <center>
    <ion-list-header >
     Home Page
    </ion-list-header>
    </center>
    <ion-card (click)="expandItem(item)" *ngFor="let item of items">
      <ion-card-header>
      
        <ion-item>
          <ion-avatar slot="start">
            <img  src="./assets/Basketball.jpg">
          </ion-avatar>
          <ion-label>
            <h2>J'quan</h2>
            <p>Future pediatricion</p>
           
          </ion-label>
        </ion-item>

      </ion-card-header>
  
      <ion-card-content>
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <p>
           My dream career is to be a pediatrician, a registered nures, and a veternarian. One of my favoritye hobbies are playimg fortnite, playing the piano, and i like going out.  
          </p>
        
        </app-expandable>
      </ion-card-content>
    </ion-card>




    <ion-card (click)="expandItem(item)" *ngFor="let item of ice">
      <ion-card-header>
       
          
        <ion-item>
          <ion-avatar slot="start">
            <img  src="./assets/football.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Bill Baker</h2>
            <p>Football Player</p>
           
          </ion-label>
        </ion-item>




            </ion-card-header>
          <ion-card-content>
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <p>
            Little Bill likes to work with Bill Neye.
          </p>
          
        </app-expandable>
      </ion-card-content>
    </ion-card>



<!-- Jason Parer -->
    <ion-card (click)="expandItem(item)" *ngFor="let item of pan">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img  src="./assets/guy.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Jason Parker</h2>
            <p>Future scientist</p>
           
          </ion-label>
        </ion-item>
   </ion-card-header>
   <ion-card-content>
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <p>
           Hello my name is Jason Parker I go to Dimsdail high school. One of my favorite hobbies 
          </p>
          
        </app-expandable>
      </ion-card-content>
    </ion-card>
<!-- Alan  Vasquez -->
    <ion-card (click)="expandItem(item)" *ngFor="let item of fish">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img  src="./assets/bigstock-Male-High-School-Student-At-De-62222351.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Alan Vasquez</h2>
            <p>Future Filmer</p>
           
          </ion-label>
        </ion-item>


        
      </ion-card-header>
  
      <ion-card-content>
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <p>
            My name is Alan from dog with the blog.
          </p>
        
        </app-expandable>
      </ion-card-content>
    </ion-card>
<!-- Ben Soliz -->
      <ion-card (click)="expandItem(item)" *ngFor="let item of dog">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img  src=" ./assets/Unknown.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Ben Soliz</h2>
            <p>Future soccer player</p>
           
          </ion-label>
        </ion-item>


        
      </ion-card-header>
 
      <ion-card-content>
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <p>
            I play Soccer .
          </p>
          
        </app-expandable>
      </ion-card-content>
    </ion-card>
<!-- Soul Sanchez -->
    <ion-card (click)="expandItem(item)" *ngFor="let item of snake">
      <ion-card-header>
     <ion-item>
          <ion-avatar slot="start">
            <img  src=" ./assets/rock.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Soul Sanchez</h2>
            <p>Future zookeeper</p>
           
          </ion-label>
        </ion-item>


      
      </ion-card-header>
 
      <ion-card-content>
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <p>
            I love adventuring and like going to intresting places.
          </p>
          
        </app-expandable>

        
      </ion-card-content>
      
    </ion-card>

    

