ion-content {
   --ion-background-color:#219653 ;
}
ion-card-content{
    background-color:white !important;
}
ion-card-header{

        background-color: blueviolet;
}
ion-card-title{
    color: white;
}
 .boy img {
    width: auto;
    max-width: 100%;
    float: right;
    height: auto;
    max-height: 100%;
}