ion-content {
    --ion-background-color:#219653 ;
 }
 ion-card-content{
     background-color:white !important;
 }
ion-card-header{

        background-color: white;
}
ion-card-title{
    color: black;
}